<div>
  <section class="section has-text-centered">
    <div>
      <h2 id="body-title">Login</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login" class="has-text-black">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login" class="has-text-black">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button
            class="button is-success is-rounded has-text-black"
            type="submit"
          >Submit</button>
        </div>
      </form>
    </div>
  </section>
  <section class="section has-text-centered">
    <div>
      <h2 id="body-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup" class="has-text-black">username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup" class="has-text-black">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup" class="has-text-black">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button
            class="button is-success is-rounded has-text-black"
            type="submit"
          >Submit</button>
        </div>
      </form>
    </div>
  </section>
</div>

<script src="./js/login.js"></script>