<div>
  <div>
    <h2 id="body-title">Welcome, {{username}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3 class="is-size-4" id="body-title">Add a movie to watch:</h3>

    <form class="form new-movie-form">
      <div class="form-group">
        <label class="subtitle has-text-black" for="movie-title">Movie Title:</label>
        <input
          class="form-input"
          type="text"
          id="movie-title"
          name="movie-title"
        />
      </div>
      <div class="form-group">
        <button class="button is-success is-rounded" type="submit">Add</button>
      </div>
    </form>
  </div>

  <div class="movie-list">
    {{#if movies.length}}
      <h3 id="body-title">Watchlist:</h3>

      {{#each movies as |movie|}}
        <div>
          <div>
            <h4 class="subtitle has-text-black is-size-4"><a
                class="subtitle has-text-black is-size-4"
                href="/movie/{{movie.id}}"
              >{{movie.title}}</a></h4>
          </div>
          <div>
            <button
              class="button is-success is-rounded"
              data-id="{{movie.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>