:root {
  --centerText: center;
  --fontFam: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: linear-gradient(135deg, #ffdbb2, #8f6033);
}

.custom-picture-title {
  background: url('https://thumbs.dreamstime.com/b/popcorn-wooden-bowl-rustic-table-close-up-snack-food-movie-night-concept-323335281.jpg') center fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: var(--fontFam);
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: var(--centerText);
  margin-bottom: 20px;

}

#underlined {
  text-decoration: underline;
  text-align: center;
}

#foot-custom {
  text-decoration: underline;
  text-align: var(--centerText);
  background-color: #e0bc8c;
  color: rgb(0, 0, 0);
  padding: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25%;
}

.custom-main-body {
    background-color: #e7d68a;
    color: black;
    font-size: 18px;
    font-family: var(--fontFam);
    text-align: var(--centerText);
    border-radius: 5px;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 125px;
}

.custom-subtitle {
    background-color: #e4d17b;
    color: black;
    text-align: var(--centerText);
    font-size: x-large;
    font-family: var(--fontFam);
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

#body-title {
  color: black;
  font-family: var(--fontFam);
  font-size: xx-large;
  text-decoration: underline;
}