:root {
  --centerText: center;
  --fontFam: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #9062cc;
}

.custom-title {
  background-color: #43b64c;
  font-family: var(--fontFam);
  color: black;
  padding: 20px;
  border-radius: 5px;
  text-align: var(--centerText);
  margin-bottom: 20px;
}

#underlined {
  text-decoration: underline;
  text-align: center;
}

#foot-custom {
  text-decoration: underline;
  text-align: var(--centerText);
  background-color: #43b64c;
  color: rgb(0, 0, 0);
  padding: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

.custom-main-body {
    background-color: #395fdb;
    color: black;
    font-size: 18px;
    font-family: var(--fontFam);
    text-align: var(--centerText);
    border-radius: 5px;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 125px;
}

.custom-subtitle {
    background-color: #395fdb;
    color: black;
    text-align: var(--centerText);
    font-size: x-large;
    font-family: var(--fontFam);
    text-decoration: underline;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

#body-title {
  color: black;
  font-family: var(--fontFam);
  font-size: xx-large;
  text-decoration: underline;
}